# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env
.venv*/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs / temp files
*.log
*.swp
*.swo

# Temporary pause asset files
/assets/*

# Ignore the files in pokeapi_database
database_download/pokeapi_database
temp_assets/*

# Ignore Advanced AI System files
AdvancedAI/Advanced AI System/*

# Data files
data/abilities/*
data/evolution_lines/*



*.sqlite
